/*IMPORT*/
@import url(_responsive.scss);
/*VARIABLES*/
/*ESTILOS*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li {
    color: #026550;
    font-family: "Advent Pro", sans-serif;
    font-size: 25px;
    list-style-type: none;
    margin-top: 30px;
    padding: 10px;
    transition: all 2s;
}
nav ul li :hover {
    width: 300px;
    background-image: linear-gradient(#aaedcc, #026550);
}
nav ul li a {
    color: #026550;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

p {
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 20px;
}
p ul {
    color: black;
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
    list-style-type: square;
}
p li mark {
    background-color: #d8f6e8;
}

ol li {
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
}
ol li strong {
    color: black;
}

h1 {
    color: #026550;
    font-family: "Advent Pro", sans-serif;
    font-size: 40pt;
    margin: 50px 25px;
    padding: 40px;
}

h2 {
    color: #026550;
    font-family: "Advent Pro", sans-serif;
    font-size: 40pt;
    text-align: center;
}

table {
    transform: translate(10px, -20px) rotateY(20deg);
}
table tr td {
    border-style: inset;
    border-width: 3px;
    font-family: "Advent Pro", sans-serif;
    font-size: 25px;
    background-color: #bcd6d0;
}

table th {
    border-style: inset;
    border-width: 3px;
    font-family: "Advent Pro", sans-serif;
    font-size: 25px;
    background-color: #bcd6d0;
}
table th strong {
    color: black;
}

div video {
    margin: 70px;
    padding: 20px;
}

body {
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
}

/*BEM*/
.inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inicio__imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    border-style: double;
    border-width: 10px;
    border-color: #fff;
    transition: all 1s;
}

.inicio__imagen:hover {
    width: 250px;
}

.contactate {
    margin: 20px;
    padding-top: 30px;
}

.contactate__titulo {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.contactate__formulario {
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 400px;
}

.datosaqua {
    background-image: linear-gradient(#04b186, #026550);
}

.datosaqua__redes {
    color: black;
    font-family: "Advent Pro", sans-serif;
    font-size: 16pt;
    text-align: right;
}

.datosaqua__redes--lista {
    list-style-type: none;
}

.sobreaqua {
    margin: 40px;
    padding: 30px;
    border-radius: 4px;
    border-style: outset;
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
}

.sobreaqua__titulo {
    color: #026550;
    font-family: "Advent Pro", sans-serif;
    font-size: 40pt;
}

.sobreaqua__lista {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 20px;
}

.clases {
    margin: 10px;
    padding: 20px;
}

.clases__titulo {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 100px;
}

.clases__lista {
    border-style: outset;
    border-width: 2px black;
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
}
