@media (min-width: 320px) {
    body{
        background-color: #deebdd;
        background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%)};}


@media (min-width: 576px) {
    body { background-color: #deebdd;
        background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);}
}
@media (min-width: 768px) {
    body { background-color: #deebdd;
        background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);}
}
@media (min-width: 992px) {
    body { background-color: #deebdd;
        background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);}
}
@media (min-width: 1200px) {
    body {
        background-color: #deebdd;
        background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);}
}